/.idea/
*.keytab
*.pub
*_key
*_rsa
*.jks
*.crt
*.csr
*.key
*.pkcs12
*.p12
*.srl
*.pem
*.der
conf/kafka/secrets/cacerts
*-creds
*.extfile
/conf/cluster/*/data/*
/conf/cluster/*/log/*
/conf/cluster/*/secrets/*
