[req]
prompt = no
distinguished_name = dn
default_md = sha256
default_bits = 4096
req_extensions = v3_req

[ dn ]
countryName = IN
organizationName = Sandbox
localityName = Pune
commonName=kafkaclients
emailAddress = support@sandbox.net

[ v3_ca ]
subjectKeyIdentifier=hash
basicConstraints = critical,CA:true
authorityKeyIdentifier=keyid:always,issuer:always
keyUsage = critical,keyCertSign,cRLSign

[ v3_req ]
subjectKeyIdentifier = hash
basicConstraints = CA:FALSE
nsComment = "OpenSSL Generated Certificate"
keyUsage = critical, digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth, clientAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1=kafkaclients
DNS.2=kafkaclients.sandbox.net
DNS.3=kafkaconsumer.sandbox.net
DNS.4=kafkaproducer.sandbox.net
DNS.5=localhost
