# Required connection configs for Kafka producer, consumer, and admin
#
bootstrap.servers=kafkabroker.sandbox.net:19094
security.protocol=SSL
# sasl.mechanisms=PLAIN
# sasl.username=admin
# sasl.password=admin-secret
sasl.kerberos.service.name=kafka
sasl.kerberos.keytab=conf/kerberos/keytabs/kafkaclient.keytab
sasl.kerberos.principal=kafkaclient@SANDBOX.NET
ssl.key.location=conf/kafka/secrets/clients.key
ssl.key.password=confluent
ssl.certificate.location=conf/kafka/secrets/clients-signed.crt
ssl.ca.location=conf/kafka/secrets/sandbox-ca.pem
