#
zookeeper.clientCnxnSocket=org.apache.zookeeper.ClientCnxnSocketNetty
zookeeper.ssl.client.enable=true
# zookeeper.ssl.protocol=TLSv1.3
zookeeper.ssl.keystore.location=/etc/zookeeper/secrets/clients.keystore.jks
zookeeper.ssl.keystore.password=confluent
zookeeper.ssl.keyStore.type=PKCS12
zookeeper.ssl.truststore.location=/etc/zookeeper/secrets/clients.truststore.jks
zookeeper.ssl.truststore.password=confluent
zookeeper.ssl.trustStore.type=JKS
